<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191749860979-u8dtjjjb76cbctf5rgfrcurqnotp2rgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191749860979-u8dtjjjb76cbctf5rgfrcurqnotp2rgt</string>
	<key>API_KEY</key>
	<string>AIzaSyCIebL6zrEqu3n_sOv-2UEwzWjZGtLA8hM</string>
	<key>GCM_SENDER_ID</key>
	<string>191749860979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppSecond</string>
	<key>PROJECT_ID</key>
	<string>chat-b06e1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-b06e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191749860979:ios:0441a3f66888ea16b0c406</string>
</dict>
</plist>